.header1 {
    background-color:rgb(3, 145, 86);
    height: 80px;
    width: auto;
    color:white;
    padding: auto;
    
}
.textH2{
    margin-left: 100px;
}
.imagenIcon{
    height: 100px;
    width: auto;
}